<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">Отзывы выпускников</h2>

<div class="slider">
  <!--Ганна Скороход -->
  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
      <div class="feedback-wrapper-thumb">
        <picture>
          <source
            srcset="./images/feedback/anna/desktop/anna-desktop-150x150@1x.webp 1x, ./images/feedback/anna/desktop/anna-desktop-300x300@2x.webp 2x"
            media="(min-width:1316px)" type="image/webp">
          <source
            srcset="./images/feedback/anna/desktop/anna-desktop-150x150@1x.jpg 1x, ./images/feedback/anna/desktop/anna-desktop-300x300@2x.jpg 2x"
            media="(min-width:1316px)">
          <source
            srcset="./images/feedback/anna/tablet/anna-tablet-120x120@1x.webp 1x, ./images/feedback/anna/tablet/anna-tablet-240x240@2x.webp 2x"
            media="(min-width:768px)" type="image/webp">
          <source
            srcset="./images/feedback/anna/tablet/anna-tablet-120x120@1x.jpg 1x, ./images/feedback/anna/tablet/anna-tablet-240x240@2x.jpg 2x"
            media="(min-width:768px)">
          <source
            srcset="./images/feedback/anna/mobile/anna-mobile-90x90@1x.webp 1x, ./images/feedback/anna/mobile/anna-mobile-180x180@2x.webp 2x"
            media="(min-width:320px)" type="image/webp">
          <source
            srcset="./images/feedback/anna/mobile/anna-mobile-90x90@1x.jpg 1x, ./images/feedback/anna/mobile/anna-mobile-180x180@2x.jpg 2x"
            media="(min-width:320px)">
          <img class="feedback-wrapper-image" src="./images/feedback/anna/mobile/anna-mobile-90x90@1x.jpg"
            alt="Фото Ганна Скороход" aria-label="Ганна Скороход">
        </picture>
      </div>
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">              
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Ганна Скороход</h3>
      
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
      
      <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
        що
        її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
        зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text"  feedback-text-1>тка Олени Моревої !</span>
        <span class="visible-text">...</span>
        <button class="switch" type="button" feedback-switch-button-1>
          <span class="switch-visible-text">Читать дальше</span>
          <span class="switch-hidden-text">Читать меньше</span>
        </button>
      </p>
    </div>
   </div>
  </div>

  <!--Олена Губаренко -->
  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
      <div class="feedback-wrapper-thumb">
        <picture>
          <source
            srcset="./images/feedback/lena/desktop/lena-desktop-150x150@1x.webp 1x, ./images/feedback/lena/desktop/lena-desktop-300x300@2x.webp 2x"
            media="(min-width:1316px)" type="image/webp">
          <source
            srcset="./images/feedback/lena/desktop/lena-desktop-150x150@1x.jpg 1x, ./images/feedback/lena/desktop/lena-desktop-300x300@2x.jpg 2x"
            media="(min-width:1316px)">
          <source
            srcset="./images/feedback/lena/tablet/lena-tablet-120x120@1x.webp 1x, ./images/feedback/lena/tablet/lena-tablet-240x240@2x.webp 2x"
            media="(min-width:768px)" type="image/webp">
          <source
            srcset="./images/feedback/lena/tablet/lena-tablet-120x120@1x.jpg 1x, ./images/feedback/lena/tablet/lena-tablet-240x240@2x.jpg 2x"
            media="(min-width:768px)">
          <source
            srcset="./images/feedback/lena/mobile/lena-mobile-90x90@1x.webp 1x, ./images/feedback/lena/mobile/lena-mobile-180x180@2x.webp 2x"
            media="(min-width:320px)" type="image/webp">
          <source
            srcset="./images/feedback/lena/mobile/lena-mobile-90x90@1x.jpg 1x, ./images/feedback/lena/mobile/lena-mobile-180x180@2x.jpg 2x"
            media="(min-width:320px)">
          <img class="feedback-wrapper-image" src="./images/feedback/lena/mobile/lena-mobile-90x90@1x.jpg"
            alt="Фото Олена Губаренко" aria-label="Олена Губаренко">
        </picture>
      </div>
      
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">
       
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Олена Губаренко</h3>
    
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
    
      <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
        що
        її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
        зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" feedback-text-2>тка
          Олени Моревої !</span>
        <span class="visible-text">...</span>
        <button class="switch" type="button" feedback-switch-button-2>
          <span class="switch-visible-text">Читать дальше</span>
          <span class="switch-hidden-text">Читать меньше</span>
        </button>
      </p>
    </div>
   </div>
  </div>
<!-- Ігор Олійник -->
  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
      <div class="feedback-wrapper-thumb">
        <picture >
          <source
            srcset="./images/feedback/igor/desktop/igor-desktop-150x150@1x.webp 1x, ./images/feedback/igor/desktop/igor-desktop-300x300@2x.webp 2x"
            media="(min-width:1316px)" type="image/webp">
          <source
            srcset="./images/feedback/igor/desktop/igor-desktop-150x150@1x.jpg 1x, ./images/feedback/igor/desktop/igor-desktop-300x300@2x.jpg 2x"
            media="(min-width:1316px)">
          <source
            srcset="./images/feedback/igor/tablet/igor-tablet-120x120@1x.webp 1x, ./images/feedback/igor/tablet/igor-tablet-240x240@2x.webp 2x"
            media="(min-width:768px)" type="image/webp">
          <source
            srcset="./images/feedback/igor/tablet/igor-tablet-120x120@1x.jpg 1x, ./images/feedback/igor/tablet/igor-tablet-240x240@2x.jpg 2x"
            media="(min-width:768px)">
          <source
            srcset="./images/feedback/igor/mobile/igor-mobile-90x90@1x.webp 1x, ./images/feedback/igor/mobile/igor-mobile-180x180@2x.webp 2x"
            media="(min-width:320px)" type="image/webp">
          <source
            srcset="./images/feedback/igor/mobile/igor-mobile-90x90@1x.jpg 1x, ./images/feedback/igor/mobile/igor-mobile-180x180@2x.jpg 2x"
            media="(min-width:320px)">
          <img class="feedback-wrapper-image" src="./images/feedback/igor/mobile/igor-mobile-90x90@1x.jpg"
            alt="Фото Ігор Олійник" aria-label="Ігор Олійник">
        </picture>
      </div>          
      
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">       
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Ігор Олійник</h3>
      
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
      
        <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанував граматику і поповнив свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозумів, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
          що
          її справді хвилювала моя успішність і розвиток. Вона стала для мене авторитетом, проте я не тремтів на уроках, маючи страх
          зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" feedback-text-3>т Олени
            Моревої !</span>
          <span class="visible-text">...</span>
          <button class="switch" type="button" feedback-switch-button-3>
            <span class="switch-visible-text">Читать дальше</span>
            <span class="switch-hidden-text">Читать меньше</span>
          </button>
        </p>
    </div>
   </div>
  </div>

  <!-- Тетяна Руденко -->
  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
   
      <img class="feedback-wrapper-picture" src="./images/feedback/big-slide-4.jpg" alt="Фото Тоня Кучеровская">
      
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">
       
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Тетяна Руденко</h3>
      
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
      
      <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
        що
        її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
        зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" feedback-text-4>тка Олени Моревої !</span>
        <span class="visible-text">...</span>
        <button class="switch" type="button" feedback-switch-button-4>
          <span class="switch-visible-text">Читать дальше</span>
          <span class="switch-hidden-text">Читать меньше</span>
        </button>
      </p>
    </div>
   </div>
  </div>
  
  <!-- Тетяна Зацепа -->
  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
      <div class="feedback-wrapper-thumb">
        <picture>
          <source
            srcset="./images/feedback/tanya/desktop/tanya-desktop-150x150@1x.webp 1x, ./images/feedback/tanya/desktop/tanya-desktop-300x300@2x.webp 2x"
            media="(min-width:1316px)" type="image/webp">
          <source
            srcset="./images/feedback/tanya/desktop/tanya-desktop-150x150@1x.jpg 1x, ./images/feedback/tanya/desktop/tanya-desktop-300x300@2x.jpg 2x"
            media="(min-width:1316px)">
          <source
            srcset="./images/feedback/tanya/tablet/tanya-tablet-120x120@1x.webp 1x, ./images/feedback/tanya/tablet/tanya-tablet-240x240@2x.webp 2x"
            media="(min-width:768px)" type="image/webp">
          <source
            srcset="./images/feedback/tanya/tablet/tanya-tablet-120x120@1x.jpg 1x, ./images/feedback/tanya/tablet/tanya-tablet-240x240@2x.jpg 2x"
            media="(min-width:768px)">
          <source
            srcset="./images/feedback/tanya/mobile/tanya-mobile-90x90@1x.webp 1x, ./images/feedback/tanya/mobile/tanya-mobile-180x180@2x.webp 2x"
            media="(min-width:320px)" type="image/webp">
          <source
            srcset="./images/feedback/tanya/mobile/tanya-mobile-90x90@1x.jpg 1x, ./images/feedback/tanya/mobile/tanya-mobile-180x180@2x.jpg 2x"
            media="(min-width:320px)">
          <img class="feedback-wrapper-image" src="./images/feedback/tanya/mobile/tanya-mobile-90x90@1x.jpg"
            alt="Фото Тетяна Зацепа" aria-label="Тетяна Зацепа">
        </picture>
      </div>
      
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">
       
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Тетяна Зацепа</h3>
      
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
      
      <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
        що
        її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
        зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" feedback-text-5>тка Олени Моревої !</span>
        <span class="visible-text">...</span>
        <button class="switch" type="button" feedback-switch-button-5>
          <span class="switch-visible-text">Читать дальше</span>
          <span class="switch-hidden-text">Читать меньше</span>
        </button>
      </p>
    </div>
   </div>
  </div>

  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
      <img class="feedback-wrapper-picture" src="./images/feedback/big-slide-6.jpg" alt="Фото Тоня Кучеровская">
      
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">
       
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Тоня Кучеровская</h3>
      
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
      
      <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
        що
        її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
        зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" feedback-text-6>тка Олени Моревої !</span>
        <span class="visible-text">...</span>
        <button class="switch" type="button" feedback-switch-button-6>
          <span class="switch-visible-text">Читать дальше</span>
          <span class="switch-hidden-text">Читать меньше</span>
        </button>
      </p>
    </div>
   </div>
  </div>

  <div class="slider-item">
     <div class="feedback-wrapper">
    <div class="feedback-wrapper-left">
      <img class="feedback-wrapper-picture" src="./images/feedback/big-slide-7.jpg" alt="Фото Тоня Кучеровская">
      
      <a class="feedback-wrapper-social" href="https://www.instagram.com/" aria-label="ссилка на соцсеть инстаграм" target="_blank">
       
      </a>
    </div>

    <div class="feedback-wrapper-right">
      <h3 class="feedback-wrapper-name">Тоня Кучеровская</h3>
      
      <p class="feedback-wrapper-description">Выпуск 2015-го года, Національний університет біоресурсів
        і природокористування України</p>
      
      <p class="feedback-wrapper-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
        словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому
        що
        її справді хвилювала моя успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
        зробити найменшу помилку. Зараз я можу похизуватись тим, що я студен<span class="hidden-text" feedback-text-7>тка Олени Моревої !</span>
        <span class="visible-text">...</span>
        <button class="switch" type="button" feedback-switch-button-7>
          <span class="switch-visible-text">Читать дальше</span>
          <span class="switch-hidden-text">Читать меньше</span>
        </button>
      </p>
    </div>
   </div>
  </div>

</div>

<!-- mobile-slider -->
    <div class="small-slider">
      <!-- slide 1 -->
  <div class="small-slider-item">
    <div class="small-slider-thumb">
      <picture>
        <source
          srcset="./images/feedback/anna/anna-icon-54x54@1x.webp 1x, ./images/feedback/anna/anna-icon-108x108@2x.webp 2x"
          type="image/webp">
        <source
          srcset="./images/feedback/anna/anna-icon-54x54@1x.jpg 1x, ./images/feedback/anna/anna-icon-108x108@2x.jpg 2x">
        <img class="small-slider-image" src="./images/feedback/anna/anna-icon-54x54@1x.jpg" alt="Фото Ганна Скороход"
          aria-label="Ганна Скороход">
      </picture>
    </div>
  </div>
  <!-- slide 2 -->
  <div class="small-slider-item">
    <div class="small-slider-thumb">
      <picture>
        <source
          srcset="./images/feedback/lena/lena-icon-54x54@1x.webp 1x, ./images/feedback/lena/lena-icon-108x108@2x.webp 2x"
          type="image/webp">
        <source
          srcset="./images/feedback/lena/lena-icon-54x54@1x.jpg 1x, ./images/feedback/lena/lena-icon-108x108@2x.jpg 2x">
        <img class="small-slider-image" src="./images/feedback/lena/lena-icon-54x54@1x.jpg" alt="Фото Олена Губаренко"
          aria-label="Олена Губаренко">
      </picture>
    </div>
  </div>
  <!-- slide 3 Igor-->
  <div class="small-slider-item">
    <div class="small-slider-thumb">
      <picture>       
        <source
          srcset="./images/feedback/igor/igor-icon-54x54@1x.webp 1x, ./images/feedback/igor/igor-icon-108x108@2x.webp 2x" type="image/webp">
        <source
          srcset="./images/feedback/igor/igor-icon-54x54@1x.jpg 1x, ./images/feedback/igor/igor-icon-108x108@2x.jpg 2x">
        <img class="small-slider-image" src="./images/feedback/igor/igor-icon-54x54@1x.jpg"
          alt="Фото Ігор Олійник" aria-label="Ігор Олійник">
      </picture>
    </div>
  </div>
  <!-- slide 4 -->
  <div class="small-slider-item">    
    <img class="feedback-small-icon" src="./images/feedback/big-slide-4.jpg" alt="Иконка Тоня Кучеровская">
  </div>
  <!-- slide 5 -->
  <div class="small-slider-item">
    <img class="feedback-small-icon" src="./images/feedback/big-slide-5.jpg" alt="Иконка Тоня Кучеровская">
  </div>
  <!-- slide 6 -->
  <div class="small-slider-item">
    <img class="feedback-small-icon" src="./images/feedback/big-slide-6.jpg" alt="Иконка Тоня Кучеровская">
  </div>
  <!-- slide 7 -->
  <div class="small-slider-item">
    <img class="feedback-small-icon" src="./images/feedback/big-slide-7.jpg" alt="Иконка Тоня Кучеровская">
  </div>
</div> 

  </div>
</section>
